.form-group-title {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cria colunas automáticas */
    gap: 15px;
    margin-bottom: 20px;
}

#Aluno_Nome {
    grid-column: span 2;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.input-box input, .input-box select {
    background: #2a2a2a;
    border: 1px solid #444;
    padding: 12px;
    color: #fff;
    border-radius: 2px;
    font-size: 1rem;
}

.input-box input:focus {
    border-color: var(--primary);
    outline: none;
}

/* Estilo do botão para ocupar a largura toda com destaque */
.btn-salvar {
    background: var(--primary);
    color: white;
    border: none;
    padding: 18px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-salvar:hover {
    background: #a00000;
    letter-spacing: 2px;
}
